.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-site {
  border: 4px solid black
}

.reSize{
  width: 200px;
}

.carouselSize{
  width: 400px;
  height: 500px;
}
.price-border{
  width: 40%;
  padding:10px;
  border: 10px solid;
  margin: 10px auto;
  background-color: white;
}

.link-box{
  width: 175px;
  border: 5px solid;
  margin: 2%;
  background-color: violet
}

.centerImag{
  display: block;
  margin: auto !important;
}

.checkoutBox{
  border: 5px solid;  
}

.billingAllign{
  text-align: left;
  border: 55px solid white;
}

.test{
  padding-top:20px;
  padding-bottom:20px;
  padding-right:20px;
}

.test2{
  border: 5px solid;
  width: auto;
  padding: 150px;
  margin: auto;
}

