.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.reSize {
  width: 200px;
}

.price-border {
  padding: 12px;
  border: 10px solid;
  margin: 10px;
  background-color: white;
}

/*Carousel*/


.carouselSize {
  width: 300px;
  height: 500px;
}


/*Header*/
.headBaner {
  width: 100%;
  padding-left: 15px;
  /*border: 5px solid black;
  margin-right: auto;
  margin-left: auto;*/
  align-items: center;
  justify-content: center;
}

.headerImage {
  width: 100%;
  height: auto;
  /*max-width: 100%;*/
  border: 5px solid black;
  display: flex;
}

.link-box {
  border: 5px solid;
  margin: 2%;
  background-color: rgb(124, 129, 124)
}

/*Footer*/
.footer-site {
  border: 4px solid black;
  /*background-color: blue*/
}

/*Cart Page*/
.adjustCartText {
  padding-top: 20px;
}

/*Checkoutpage*/
.billingAllign {
  text-align: center;
  border: 25px solid white;
  align-items: center;
  justify-content: center;
}

/*TEST*/

.linkText {
  color: red;
}

.checkoutBox {
  width: 100%;
  align-items: center;
  padding-left: 15px;
}